@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin:0;
    padding:0;
}



 .navbar{
    width: 100%;
    height: 80px;
    background: rgba(146, 110, 43, 0.808);
}


.navbar .logo a{
    text-decoration: none;
    font-size: 30px;
    font-family: sans-serif;
    color: #f3f3f3;
}


.navbar .logo{
    display:inline-block;
    margin-left: 50px;
    margin-top: 20px;
}

.navbar ul{
    float: right;
    margin-right: 20px;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 10;
    line-height: 80px;

}

.navbar ul li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 6px 13px;
    font-family: roboto;
    transition: .5s;
}

.navbar ul li a.active,
.navbar ul li a:hover{
    background: rgb(194, 147, 44);
    border-radius: 3px;
}


.container .center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-family: sans-serif;
    user-select: none;
}

.center h1{
    color: rgb(92, 34, 4);
    font-size: 70px;
    font-weight: bold;
    width: 900px;
    text-align: center;
}

.center h2{
    color: #fff;
    font-size: 50px;
    font-weight: bold;
    width: 885px;
    margin-top: 10px;
    text-align: center;
}
